@import "./../../../styles/mixins";
@import "./../../../styles/variables";

.thread-message {
  display: grid;
  grid-template-columns: 90px min-content auto;
  grid-template-rows: auto auto;
}

.avatar {
  grid-column: 1;
  grid-row: 1 / span 2;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.user-name {
  font-weight: bold;
  margin: 0 10px 10px 0;
}

.time {
  font-size: 14px;
  color: rgb(104, 104, 104);
}

.message {
  border: none;
  background-color: $secondary-color;
  border-radius: 0 20px 20px 20px;
  padding: 15px;
  grid-column: 2 / span 2;
  grid-row: 2;
}

.emoji-container {
  width: 64px;
  height: 29px;
  grid-column-start: 2;
  padding: 10px;
  border: 1px solid rgb(173, 176, 217);
  border-radius: 30px;
  @include flex-setup();
  gap: 10px;
  margin-top: 10px;
}

.add-reaction {
  grid-column-start: 3;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
    background-image: url("../../../assets/icons/add-reaction.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;

    &:hover {
      background-image: url("../../../assets/icons/add-reaction-hover.png");
    }
  }
}

.answer {
  margin: 20px 0 20px 0;
}

.number-of-answers {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(173, 176, 217);

  span {
    padding: 0 10px 0 10px;
    white-space: nowrap;
  }
}

.line {
  border-bottom: 1px solid rgb(173, 176, 217);
  width: 100%;
}

.mirror {
  transform: scaleX(-1);
}
