<div class="main-content" *ngIf="isOnDashboard()">
    <div class="intro-wrapper">
        <h1>Willkommen bei der DABubble</h1>
        <p>Dies ist eine Chat-Messenger Applikation im Stil von Slack/Discord zur Kommunikation im Team</p>
        <p>Wähle einen Channel oder einen Chat</p>
        <p>Viel Spaß beim Ausprobieren</p>
        <h2>Entwickelt von</h2>
        <h2>Aldin, Muzammal und Shardzhil</h2>

        <div class="tech-icons">
            <div class="tech-item">
                <img class="ang-img" src="assets/images/dashboard/angular.svg" alt="Angular" title="Angular" />
                <span>Angular</span>
            </div>
            <div class="tech-item">
                <img class="ts-img" src="assets/images/dashboard/typescript.svg" alt="TypeScript" title="TypeScript" />
                <span>TypeScript</span>
            </div>
            <div class="tech-item">
                <img class="fb-img" src="assets/images/dashboard/firebase.svg" alt="Firebase" title="Firebase" />
                <span>Firebase</span>
            </div>
        </div>
    </div>
</div>