@use "../../../styles/variables" as *;
@import "@ctrl/ngx-emoji-mart/picker";

.message-box {
  width: 100%;
  font-family: "Nunito";
  padding: 0rem 2rem 1rem 2rem;
  position: relative;
}

.message-wrapper {
  border: 1px solid $input-border-color;
  border-radius: 20px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: border-color 0.2s ease;
  height: 145px;
  width: -webkit-fill-available;

  &:hover {
    border-color: $primary-color;
  }

  &:focus-within {
    border-color: $message-field-focus-color;
  }

  textarea {
    border: none;
    resize: none;
    outline: none;
    height: 80px;
    font-family: inherit;
    font-size: 14px;
    padding: 0;
    margin-bottom: 8px;
    width: 100%;
    flex: 1;

    &::placeholder {
      color: rgba(104, 104, 104, 1);
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  .button-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;

    .left-side {
      display: flex;
      gap: 10px;
    }

    .send-button {
      background: none;
      border: none;
      cursor: pointer;

      .send-img {
        width: 30px;
        height: 30px;

        &:hover {
          filter: brightness(200%);
        }
      }
    }
  }
}

.emoji-button,
.tag-button {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  transition: background-image 0.2s ease;
}

.emoji-button {
  background-image: url("./../../../assets/icons/emoji.png");

  &:hover {
    background-image: url("./../../../assets/icons/sentiment_satisfied.svg");
  }
}

.tag-button {
  background-image: url("./../../../assets/icons/tag.png");

  &:hover {
    background-image: url("./../../../assets/icons/alternate_email.svg");
  }
}

.emoji-wrapper {
  position: absolute;
  top: 120px;
}

.user-channel-list {
  border: 1px solid rgb(173, 176, 217);
  border-radius: 20px 20px 20px 0;
  background-color: white;
  width: 350px;
  height: 467px;
  position: absolute;
  left: 61px;
  bottom: 149px;
  padding: 15px;
  overflow: scroll;

  &::--webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .user-container,
  .channel-container {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
      border-radius: 35px;
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
  }
}

.avatar-container {
  position: relative;
}

.position-dot {
  top: 47px;
  left: 48px;
}

.hidden {
  display: none !important;
}

@media (max-width: 580px) {
  .message-box {
    padding: 0rem 12px 16px 12px;
  }
}