<div class="message-box">
   <textarea name="message-box" placeholder="Antworten..." [(ngModel)]="message"></textarea>
   <div class="button-container">
      <div class="left-side">
         <button (click)="toggleEmojiPicker()">
            <img src="./../../../assets/icons/emoji.png" alt="emoji">
         </button>
         <button>
            <img src="./../../../assets/icons/tag.png" alt="@">
         </button>
      </div>
      <button (click)="captureMessage()">
         <img src="./../../../assets/icons/send.png" alt="send">
      </button>
   </div>
</div>
<div class="emoji-wrapper">
   <emoji-mart title="Pick your emoji…" emoji="point_up" set="apple" (emojiClick)="addEmoji($event)"
      [hidden]="!emojiPicker"></emoji-mart>
</div>