@use '../../../styles/variables' as *;

.main-content {
    background-color: #ffffff;
    border-radius: 36px;
    height: calc(100vh - 140px);
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-origin: left;
    animation: curtainSlideIn 0.18s ease-out forwards;

    // Header styling
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        border-bottom: 1px solid #eee;
        height: auto;
        padding-top: 32px;
        padding-right: 45px;
        padding-bottom: 20px;
        padding-left: 45px;
        gap: 20px;
        box-shadow: 0px 2px 10px rgb(224, 224, 224);

        .input-wrapper {
            position: relative;
            width: 100%;

            .input-valid {
                ::ng-deep app-input-field .custom-input {
                    border: 2px solid rgba(30, 180, 80, 1) !important;
                    color: rgba(30, 180, 80, 1) !important;
                }

                ::ng-deep app-input-field input {
                    color: rgba(30, 180, 80, 1) !important;
                }
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            max-height: 250px;
            width: fit-content;
            overflow-y: auto;
            border: 1px solid $input-field-focus-color;
            border-radius: 0 0 8px 8px;
            z-index: 99;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

            li {
                padding: 10px 12px;
                border-radius: 36px;
                border: 1px solid transparent;
                cursor: pointer;

                &:hover {
                    background-color: $secondary-color;
                }

                .blue-color {
                    color: rgb(19, 129, 255);
                    display: block;
                }

                .user-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .avatar {
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    app-input-field {
        ::ng-deep .input-wrapper {
            max-width: unset;

            .custom-input {
                width: 100%;
                background-color: white;
                border-color: rgba(173, 176, 217, 1);

                &:hover {
                    border-color: rgba(121, 126, 243, 1);
                }

                &:focus {
                    border-color: rgba(83, 90, 241, 1) !important;
                }
            }
        }
    }

    app-message-field {
        ::ng-deep textarea:disabled {
            // background-color: rgb(255, 203, 203);
            color: #888;
            cursor: not-allowed;
            opacity: 0.6;
        }
    }

    .message-field-wrapper {
        width: 100%;
        bottom: 10px;
    }

    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .go-to-msg-button {
            background-color: rgb(68, 77, 242);
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.125s ease;
            width: fit-content;
            height: auto;
            border-radius: 50px;
            gap: 10px;
            opacity: 1;
            padding-top: 12px;
            padding-right: 25px;
            padding-bottom: 12px;
            padding-left: 25px;
            border-width: 1px;
            font-weight: 700;
            font-style: Bold;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;

            &:hover {
                background-color: $input-field-focus-color;
            }
        }
    }

    .add-recipient-btn-wrapper {
        margin-top: 10px;

        button {
            background-color: rgb(68, 77, 242);
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.125s ease;
            width: auto;
            height: auto;
            border-radius: 50px;
            gap: 10px;
            opacity: 1;
            padding-top: 12px;
            padding-right: 25px;
            padding-bottom: 12px;
            padding-left: 25px;
            border-width: 1px;
            font-weight: 700;
            font-style: Bold;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
        }
    }

    .recipient-list-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .recipient-list {
            margin-top: 32px;
            margin-right: 45px;
            margin-bottom: 20px;
            margin-left: 45px;
            padding: 10px;
            background: white;
            // border: 1px solid $input-field-focus-color;
            border-radius: 8px;
            width: fit-content;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            margin-top: 8px;

            h3 {
                margin: 0 0 8px 0;
                font-size: 16px;
                font-weight: 600;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                max-height: 220px;
                overflow-y: auto;

                li {
                    padding: 8px 12px;
                    border-radius: 36px;
                    border: 1px solid transparent;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 8px;

                    &:hover {
                        background-color: $secondary-color;
                    }

                    &:hover .close-btn {
                        background-color: $secondary-color;
                    }

                    span {
                        font-size: 14px;
                        color: #333;
                    }

                    .avatar {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .left-side {
                        display: flex;
                        justify-content: left;
                        width: fit-content;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
        }
    }

    .close {
        background-color: white;
        width: 35px;
        height: 35px;
        border: none;
        background-image: url("/assets/icons/close.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            background-image: url("/assets/icons/close-hover.png");
        }
    }
}

@media (max-width: 660px) {
    .main-content {
        height: calc(100vh - 80px);
        border-radius: 0px;

        header {
            padding-right: 25px;
            padding-left: 25px;
        }
    }
}