<app-header></app-header>
<div class="register-container">
    <div class="reset-container">
        <div class="heading-container">
            <button class="back-button" [routerLink]="['/login']">
                <div class="back-button-img" role="img" aria-label="Zurück"></div>
            </button>
            <h2 class="title">Passwort zurücksetzen</h2>
        </div>

        <form [formGroup]="form" (ngSubmit)="changePassword()">
            <app-input-field formControlName="password" [type]="'password'" [placeholder]="'Neues Passwort'"
                [src]="'assets/icons/lock.svg'" [errorMsg]="passwordValidation()" [minlength]="8" [required]="true">
            </app-input-field>

            <app-input-field formControlName="confirmPassword" [type]="'password'"
                [placeholder]="'Neues Kennwort bestätigen'" [src]="'assets/icons/lock.svg'"
                [errorMsg]="confirmPasswordValidation()" [minlength]="8" [required]="true">
            </app-input-field>

            <div class="button-container">
                <button type="submit" class="button-style submit-button" [disabled]="form.invalid">
                    Passwort ändern
                </button>
            </div>
        </form>
    </div>
</div>

<app-success-toast message="Anmelden" [hasIcon]="false" *ngIf="showSuccessToast"
    [success]="true"></app-success-toast>

<app-success-toast message="Ein Fehler ist aufgetreten!" [hasIcon]="false" *ngIf="showErrorToast"
    [success]="false"></app-success-toast>