<header [ngStyle]="{ 'min-height': showSearchBar ? '130px' : '200px' }">
    <div class="header-content">
        <div class="logo">
            <img [routerLink]="dashboardIntroRouting(currentURL)" class="logo-img" src="../../../assets/icons/logo.png" alt="Logo" />
            <img [routerLink]="dashboardIntroRouting(currentURL)" class="logo-name-img" src="../../../assets/icons/Logo-name.svg" alt="LogoName" />
        </div>

       <app-search-bar *ngIf="showSearchBar"></app-search-bar>

        <div class="signup-link-box" *ngIf="showSignUpLink">
            <p class="signup-text">Neu bei DABubble?</p>
            <div class="link-container" [routerLink]="['/register']">
                <a class="signup-link">Konto erstellen</a>
            </div>
        </div>

        <div *ngIf="isProfileAvatarLoading && showProfileAvatar" class="profile-spinner">
            <app-spinner [size]="30" [color]="'rgb(68, 77, 242)'"></app-spinner>
        </div>

        <div class="profile-container" (click)="toggleProfileMenu()"
            *ngIf="showProfileAvatar && !isProfileAvatarLoading" (mouseenter)="isChevronHovered = true"
            (mouseleave)="isChevronHovered = false">
            <span class="user-name">{{userName}}</span>
            <div class="avatar-wrapper">
                <img [src]="avatarPath" alt="Profilbild" class="avatar-image" />
                <span class="online-indicator"
                    [ngStyle]="{ 'background-color': onlineStatus ? 'rgba(146, 200, 62, 1)' : 'grey' }"></span>
            </div>
            <img [src]="isChevronHovered ? 'assets/icons/dashboard/keyboard_arrow_down_hover.svg' : 'assets/icons/dashboard/keyboard_arrow_down.svg'"
                alt="Chevron" class="chevron-icon" />
        </div>

        <div *ngIf="!showProfileMenu && showProfileAvatar" class="profile-menu">
            <button (click)="showProfileCardContainer()">Profil</button>
            <button (click)="logout()">Log out</button>
        </div>

        <app-profile-card *ngIf="showProfileCard" [src]="avatarPath" [name]="userName" [active]="onlineStatus"
            [email]="userEmail" [isInsertedInHeader]="true" (closeCard)="showProfileCard = false"
            (save)="onNameSaved($event)">
        </app-profile-card>
    </div>
</header>