<header [ngStyle]="{ 'min-height': showSearchBar ? '130px' : '140px' }">
    <div class="header-content" [ngClass]="{ 'center-align': isLoginPage && windowWidth < 440}" >
        <div class="logo" [routerLink]="isLoginPage ? '/login' : null ">
            <!-- ✅ Use this for intro routing via logo -->
            <img *ngIf="!showBackToSidenav || currentView === 'sidenav'"
                [routerLink]="dashboardIntroRouting(currentURL)" class="logo-img" [src]="headerLogo" alt="Logo" />
            <div *ngIf="showBackToSidenav && currentView !== 'sidenav'" class="logo-and-heading"
                (click)="onBackClick()">
                <img class="arrow" src="assets/icons/Arrow.svg" alt="">
                <img src="assets/images/sidenav-img/Workspace logo.svg" alt="">
                <h1>Devspace</h1>
            </div>
        </div>

        <app-search-bar *ngIf="showSearchBar"></app-search-bar>

        <div class="signup-link-box" *ngIf="showSignUpLink">
            <p class="signup-text">Neu bei DABubble?</p>
            <div class="link-container" [routerLink]="['/register']">
                <a class="signup-link">Konto erstellen</a>
            </div>
        </div>

        <div *ngIf="isProfileAvatarLoading && showProfileAvatar" class="profile-spinner">
            <app-spinner [size]="30" [color]="'rgb(68, 77, 242)'"></app-spinner>
        </div>

        <div class="profile-container" (click)="toggleProfileMenu()"
            *ngIf="showProfileAvatar && !isProfileAvatarLoading" (mouseenter)="isChevronHovered = true"
            (mouseleave)="isChevronHovered = false">
            <span class="user-name">{{userName}}</span>
            <div class="avatar-wrapper">
                <img [src]="avatarPath" alt="Profilbild" class="avatar-image" />
                <span class="online-indicator"
                    [ngStyle]="{ 'background-color': onlineStatus ? 'rgba(146, 200, 62, 1)' : 'grey' }"></span>
            </div>
            <img [src]="isChevronHovered ? 'assets/icons/dashboard/keyboard_arrow_down_hover.svg' : 'assets/icons/dashboard/keyboard_arrow_down.svg'"
                alt="Chevron" class="chevron-icon" />
        </div>

        <!-- Profile Menu Overlay -->
        <div *ngIf="!showProfileMenu && showProfileAvatar" class="profile-overlay" (click)="closeProfileMenu()">
            <div class="profile-overlay-wrapper">
                <div class="profile-menu" (click)="$event.stopPropagation()">
                    <div class="drag-indicator"></div>
                    <button (click)="showProfileCardContainer()">Profil</button>
                    <button (click)="logout()">Log out</button>
                </div>
            </div>
        </div>

        <!-- Profile Card Overlay -->
        <div *ngIf="showProfileCard" class="profile-card-overlay" (click)="showProfileCard = false">
            <div class="profile-overlay-wrapper">
                <app-profile-card (click)="$event.stopPropagation()" [src]="avatarPath" [name]="userName"
                    [active]="onlineStatus" [email]="userEmail" [isInsertedInHeader]="true"
                    (closeCard)="showProfileCard = false" (save)="onNameSaved($event)">
                </app-profile-card>
            </div>
        </div>
    </div>
</header>