<div class="profile-card">
   <div class="headline">
      <h3>Profil</h3>
      <button (click)="onClose()" class="close"></button>
   </div>
   <div class="profile-img">
      <img [src]="src" alt="profile-image">
      <div class="edit-avatar" *ngIf="shouldShowEditAvatar()">
         <img src="assets/icons/edit.png" alt="" (click)="toggleEditAvatar()">
      </div>
   </div>
   <div class="avatar-list-wrapper">
      <div class="avatar-list fadeIn" [ngStyle]="{ display: editAvatarActive ? 'flex' : 'none'}">
         @for(avatar of avatarImgPaths; track avatar){
         <img [src]="avatar" (click)="changeAvatar($event)">
         }
      </div>

   </div>


   <div class="main-content">
      <div *ngIf="!isEditing; else editMode">
         <div class="name-and-edit-button-container">
            <h2>{{ name }}</h2>

            <button *ngIf="isInsertedInHeader" class="edit-button" (click)="startEdit()"
               [disabled]="!isCurrentUserAllowedToEditName" (mouseenter)="handleHover(true)"
               (mouseleave)="handleHover(false)" (touchstart)="handleGuestEditAttempt()">
               Bearbeiten
            </button>

            <img *ngIf="isInsertedInHeader" class="mobile-edit-btn" src="assets/icons/edit_icon.svg"
               (click)="startEdit()" (mouseenter)="handleHover(true)" (mouseleave)="handleHover(false)"
               (touchstart)="handleGuestEditAttempt()" />

            <div class="mobile-warning" *ngIf="showGuestEditWarning">
               Gastnutzer können keine Namensänderungen durchführen.
            </div>
         </div>

         <div class="status">
            <div [ngClass]="this.active ? 'isActive' : 'inactive'"></div>
            @if(active) {
            <p [ngStyle]="{'color': 'rgba(146, 200, 62, 1)'}">Aktiv</p>
            } @else {
            <p [ngStyle]="{'color': 'grey'}">Abwesend</p>
            }
         </div>
         <div class="active"></div>
         <div class="email-container">
            <img src="assets/icons/profile-card/mail.png" alt="mail">
            <p>E-Mail-Adresse</p>
         </div>
         <a class="email-link">{{email || 'Guests have no email!'}}</a>
      </div>


      <ng-template #editMode>
         <form #editForm="ngForm" (ngSubmit)="saveChanges()" class="edit-mode">
            <div class="input-label">
               <img src="assets/icons/profile-card/account_circle.svg" alt="icon" />^
               <label for="nameInput">Vollständiger Name</label>
            </div>
            <input id="nameInput" name="nameInput" class="edit-input" [(ngModel)]="nameInput"
               [placeholder]="'Name eingeben'" minlength="4" maxlength="20" required #nameInputRef="ngModel"
               [ngClass]="{ 'error': nameInputRef.invalid && nameInputRef.touched }"
               pattern="^[A-Za-zÀ-ÖØ-öø-ÿ]+(?:[' -][A-Za-zÀ-ÖØ-öø-ÿ]+)*\s+[A-Za-zÀ-ÖØ-öø-ÿ]+(?:[' -][A-Za-zÀ-ÖØ-öø-ÿ]+)*$" />
            <p class="error-message">
               <span *ngIf="nameInputRef.invalid && nameInputRef.touched">
                  <span *ngIf="nameInputRef.errors?.['required']">Der Name ist erforderlich.</span>
                  <span *ngIf="nameInputRef.errors?.['minlength']">Mindestens 4 Zeichen.</span>
                  <span *ngIf="nameInputRef.errors?.['maxlength']">Maximal 20 Zeichen.</span>
                  <span *ngIf="nameInputRef.errors?.['pattern']">Bitte den vollen Vor- und Nachnamen angeben.</span>
               </span>
            </p>
            <div class="button-row">
               <button type="button" class="cancel" (click)="cancelEdit()">Abbrechen</button>
               <button type="submit" class="save button-style" [disabled]="editForm.invalid">Speichern</button>
            </div>
         </form>
      </ng-template>
   </div>
   <div class="message">
      <ng-content></ng-content>
   </div>
</div>

<!-- Das Edit mode template ist nur für profile-card im header
Also wenn ihr profile-card in anderen components benutzen wollt ohne edit option, 
dann nutzt es beispielsweise so:

<app-profile-card
  [name]="name"
  [email]="email"
  [src]="avatar"
  [active]="false"
  [isInsertedInHeader]="false"
></app-profile-card> 
-->