@import "./../../../styles/mixins";
@import "./../../../styles/variables";

.profile-card {
  margin: 30px;
  width: 500px;
  height: 705px;
  background-color: white;
  border: transparent;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 1px 1px 10px 1px rgb(203, 203, 203);
}

.headline {
  @include flex-setup($justify: space-between);

  h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.close {
  background-color: white;
  width: 35px;
  height: 35px;
  border: none;
  background-image: url("../../../assets/icons/close.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:hover {
    background-image: url("../../../assets/icons/close-hover.png");
  }
}

.profile-img {
  margin-top: 90px;
  @include flex-setup();

  img {
    width: 200px;
    height: 200px;
    border-radius: 500px;
  }
}

.main-content {
  margin-top: 100px;

  h2 {
    margin: 10px 0 10px 0px;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.isActive {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid rgba(146, 200, 62, 1);
  background-color: rgba(146, 200, 62, 1);
  border-radius: 50%;
}

.inactive {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid rgb(110, 110, 110);
  background-color: rgb(126, 126, 126);
  border-radius: 50%;
}

.email-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 14px;
  gap: 10px;

  img {
    width: 25px;
    height: 25px;
  }

  p {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.email-link {
  margin: 10px 0 0 35px;
  color: rgb(19, 129, 255);
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}