@import "./../../../styles/mixins";
@import "./../../../styles/variables";

.profile-card {
  // margin: 30px;
  width: 500px;
  height: 705px;
  background-color: white;
  border: transparent;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 1px 1px 10px 1px rgb(203, 203, 203);
}

.headline {
  @include flex-setup($justify: space-between);

  h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.close {
  background-color: white;
  width: 35px;
  height: 35px;
  border: none;
  background-image: url("../../../assets/icons/close.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  &:hover {
    background-image: url("../../../assets/icons/close-hover.png");
  }
}

.profile-img {
  margin-top: 90px;
  @include flex-setup();

  img {
    width: 200px;
    height: 200px;
    border-radius: 500px;
  }
}

.main-content {
  margin-top: 100px;

  h2 {
    margin: 10px 0 10px 0px;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .name-and-edit-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .edit-button,
    .mobile-edit-btn {
      cursor: pointer;
    }

    .mobile-warning {
      color: white;
      font-size: 12px;
      margin-top: 4px;
      // max-width: 180px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      padding: 6px 10px;
      border-radius: 6px;
      white-space: nowrap;
      animation: fadeInSlideUp 0.2s ease-out;
      background-color: $error-msg-color;
    }

    button {
      background: none;
      border: none;
      color: $input-field-focus-color;
      cursor: pointer;
      padding: 0;
      transition: color 0.125s ease;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;

      &:hover {
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.isActive {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid rgba(146, 200, 62, 1);
  background-color: rgba(146, 200, 62, 1);
  border-radius: 50%;
}

.inactive {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid rgb(110, 110, 110);
  background-color: rgb(126, 126, 126);
  border-radius: 50%;
}

.email-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 14px;
  gap: 10px;

  img {
    width: 25px;
    height: 25px;
  }

  p {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.email-link {
  margin: 10px 0 0 35px;
  color: rgb(19, 129, 255);
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}

.edit-mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

// label with icon
.input-label {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 18px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
  width: 100%;
  max-width: 320px;

  img {
    width: 30px;
    height: 30px;
  }

  label {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.edit-input {
  width: 100%;
  border: 1px solid $input-border-color;
  outline: none;
  transition: border-color 0.2s ease;
  margin-bottom: 26px;
  border-radius: 30px;
  gap: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: rgba(104, 104, 104, 1);
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;

  &:focus {
    border-color: #3c3cf0;
  }

  &.error {
    border-color: $error-msg-color;
  }
}

// button group
.button-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.cancel {
  background-color: white;
  color: #5b5bf0;
  border: 2px solid #5b5bf0;
  cursor: pointer;
  transition: background-color 0.125s ease;
  width: 141px;
  height: 49px;
  border-radius: 50px;
  gap: 10px;
  opacity: 1;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
  border-width: 1px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  &:hover {
    background-color: $button;
    border-color: $button;
    color: white;
  }
}

.save {
  background-color: $primary-button-color;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.125s ease;
  width: 141px;
  height: 49px;
  border-radius: 50px;
  gap: 10px;
  opacity: 1;
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
  border-width: 1px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  &:hover {
    background-color: $primary-color;
  }
}

.error-message {
  min-height: 18px;
  color: $error-msg-color;
  font-size: 13px;
  margin-top: -18px;
  margin-bottom: 30px;
  transition: opacity 0.125s ease;

  span {
    display: block;
  }
}

.mobile-edit-btn {
  display: none;
}

@media (max-width: 580px) {
  .profile-card {
    max-width: 95vw !important;
    height: auto;
    padding: 40px 20px;
    margin: 0;

    .main-content,
    .profile-img {
      margin-top: 50px;
    }
  }

  .email-link {
    display: flex;
    width: 90%;
    overflow-x: auto;
  }

  .mobile-edit-btn {
    display: flex;
  }

  .edit-button {
    display: none;
  }
}

@media (max-height: 900px) {
  .profile-card {
    max-width: 95vw !important;
    height: auto;
    padding: 40px 20px;
    margin: 0;

    .main-content,
    .profile-img {
      margin-top: 50px;
    }
  }

  .email-link {
    display: flex;
    width: 90%;
    overflow-x: auto;
  }
}
