section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #797ef3,
    #6d72f3,
    #6066f3,
    #535af3,
    #444df2
  );
}
