$primary-color: rgb(121, 126, 243);
$secondary-color: rgb(
  236,
  238,
  254
); //I think this can also be used for the background !!!
$placeholder-color: rgba(104, 104, 104, 1); //Placeholder color for input fields
$input-field-focus-color: rgba(83, 90, 241, 1);
$button: rgb(68, 77, 242);
$primary-button-color: rgba(68, 77, 242, 1);
$error-msg-color: rgba(237, 30, 121, 1);
$input-border-color: rgba(173, 176, 217, 1);
$message-field-focus-color: rgba(151, 71, 255, 1);
