$primary-color: rgb(121, 126, 243);
$secondary-color: rgb(
  236,
  238,
  254
); //I think this can also be used for the background !!!
$placeholder-color: rgba(104, 104, 104, 1); //Placeholder color for input fields
$input-field-focus-color: rgba(83, 90, 241, 1);
$button: rgb(68, 77, 242);
