<!-- <div class="main-content"> -->
<div class="message-wrapper" #scrollContainer *ngIf="!isLoading">
  @for (group of groupedMessages; track group.dateString) {
  <app-timestamp-line [date]="handlingDateTime(group.date)" />

  @for (msg of group.messages; track msg.id) {
  <div class="message-wrapper-full" (mouseenter)="hoveredMessageId = msg.id" (mouseleave)="hoveredMessageId = null"
    [ngClass]="{ 'hovered': hoveredMessageId === msg.id }" [id]="'message-' + msg.id"
    [class.hovered]="hoveredMessageId === msg.id">

    <!-- Editing Mode -->
    @if (editingMessageId === msg.id) {
    <div class="edit-message-box">
      <textarea [(ngModel)]="editedMessageText" rows="3"></textarea>
      <div class="edit-message-toolbar">
        <button class="emoji-btn" (click)="toggleEmojiPicker(msg.id!)">
          <img src="/assets/images/sidenav-img/add_reaction.svg" alt="">
        </button>
      </div>

      @if (showEmojiPickerFor === msg.id) {
      <emoji-mart set="apple" (emojiSelect)="appendEmojiToEdit($event.emoji.native)"></emoji-mart>
      }

      <div class="edit-buttons">
        <button class="cancel-btn" (click)="cancelEditing()">Abbrechen</button>
        <button class="save-btn" (click)="saveEditedMessage(msg.id)">Speichern</button>
      </div>
    </div>
    } @else {

    <!-- Hover toolbar -->
    @if (hoveredMessageId === msg.id) {
    <div class="message-toolbar"
      [ngClass]="{'me': msg.senderId !== currentUserId, 'other': msg.senderId !== currentUserId}">
      <div class="message-options">
        <span class="emoji-button" (click)="reactToChannelMessage(msg.id!, '✅')">✅</span>
        <span class="emoji-button" (click)="reactToChannelMessage(msg.id!, '👍')">👍</span>

        <img src="assets/icons/add_reaction.svg" alt="Reaktion" (click)="toggleEmojiPicker(msg.id!)" />

        <img src="assets/icons/Answer.svg" alt="Thread öffnen" (click)="openThread(msg.id!)" />

        <img *ngIf="msg.senderId === currentUserId" src="assets/icons/option.svg" alt="Bearbeiten"
          title="Nachricht bearbeiten" (click)="startEditing(msg)" />
      </div>
    </div>
    }

    <!-- Default View -->
    <div class="message-content">
      <app-chat-box [src]="getAvatarPath(msg.senderId)" [userName]="getUserName(msg.senderId)"
        [time]="(msg.timestamp.toDate() | date:'shortTime') || ''" [message]="msg.text"
        [userMe]="msg.senderId !== currentUserId" [userId]="msg.senderId" (profileClick)="openProfileCard($event)"
        [isParentHovered]="hoveredMessageId === msg.id" />
    </div>

    <!-- Reactions, replies, and last reply time -->
    <div class="message-reactions-container" [ngClass]="{'me': msg.senderId === currentUserId}">
      @if(msg.replyCount! > 0) {
             <div class="reply-info">
        <a class="reply-count" (click)="openThread(msg.id!)">
          {{ msg.replyCount || 0 }} Antwort{{ (msg.replyCount || 0) > 1 ? 'en' : '' }}
        </a>

        @if (msg.reactions && objectKeys(msg.reactions).length > 0) {
        @for (emoji of objectKeys(getReactionGroups(msg.reactions || {})); track emoji) {
        <div class="reaction-group">
          <div class="reaction">
            {{ emoji }} {{ getReactionGroups(msg.reactions || {})[emoji].length }}
            <div class="tooltip">
              {{ getReactionTooltip(emoji, getReactionGroups(msg.reactions || {})[emoji]) }}
            </div>
          </div>
        </div>
        }
        }

        @if ((msg.replyCount ?? 0) > 0 && msg.lastReplyTimestamp) {
        <span class="last-reply-time">
          Letzte Antwort {{ getFormattedLastReplyTime(msg.lastReplyTimestamp) }}
        </span>
        }
      </div>
        
      }
 
    </div>
    <!-- Emoji Picker -->
    @if (showEmojiPickerFor === msg.id) {
    <emoji-mart set="apple" (emojiSelect)="reactToMessage(msg.id, $event.emoji.native)">
    </emoji-mart>
    }
    }
  </div>
  }
  }
</div>

<!-- </div> -->

<!-- <div class="profile-card-overlay" *ngIf="showProfileCard" (click)="closeProfileCard()">
  <app-profile-card *ngIf="selectedUserForProfileCard as user" [name]="selectedUserForProfileCard.name"
    [email]="selectedUserForProfileCard.email || 'Guests have no email!'"
    [src]="selectedUserForProfileCard.avatarPath || ''" [active]="selectedUserForProfileCard.online"
    [isInsertedInHeader]="false" (click)="$event.stopPropagation()" (closeCard)="closeProfileCard()">
    <div class="button-container">
      <button [routerLink]="user.direktMessageLink" class="goToDm-button">
        <img src="./../../assets/icons/mode_comment.svg" alt="">
        Nachricht
      </button>
    </div>
  </app-profile-card>
</div> -->

<div class="spinner-container" *ngIf="isLoading">
  <app-spinner [size]="30" [color]="'rgb(68, 77, 242)'"></app-spinner>
</div>