<div class="container">
  <div class="heading">
    <div class="logo-and-heading">
      <img src="/assets/images/sidenav-img/Workspace logo.svg" alt="logo" />
      <h1>Devspace</h1>
    </div>
    <button class="edit-btn">
      <img src="/assets/images/sidenav-img/edit_square.svg" alt="Edit" />
    </button>
  </div>

  <!-- Channels Section -->
  <div class="section">
    <div class="section-header" (click)="toggleChannels()">
      <div class="section-left">
        <img src="/assets/images/sidenav-img/arrow_drop_down.svg" alt="dropdown">
        <div class="channel-heading">
          <img src="/assets/images/sidenav-img/workspaces.svg" alt="Channels" />
          <span>Channels</span>
        </div>
      </div>
      <button class="plus-btn" (click)="emitOpenDialog()">+</button>
    </div>
    @if(showChannels) {
    <div class="section-body full-width">
      <!-- Spinner which is shown while channels are loaded -->
      <div class="spinner-container" *ngIf="!(users$ | async); else usersLoaded">
        <app-spinner [size]="30" [color]="'rgb(68, 77, 242)'"></app-spinner>
      </div>
      
      <ng-template #usersLoaded>
        @for (channel of channels$ | async; track channel.id) {
        <div class="channel-item"># {{ channel.title }}</div>
        }
      </ng-template>
      <div class="add-channel" (click)="emitOpenDialog()"><img src="/assets/images/sidenav-img/add_circle.svg"
          alt="add-channel"> Channel
        hinzufügen</div>
    </div>
    }
  </div>

  <!-- Direktnachrichten Section -->
  <div class="section">
    <div class="section-header" (click)="toggleDMs()">
      <div class="section-left">
        <img src="/assets/images/sidenav-img/arrow_drop_down.svg" alt="">
        <div class="direct-message">
          <img src="/assets/images/sidenav-img/account_circle.svg" alt="DMs" />
          <span>Direktnachrichten</span>
        </div>
      </div>
    </div>

    @if (showDMs) {
    <div class="section-body full-width">
      <!-- Spinner loader while Users are loaded -->
      <div class="spinner-container" *ngIf="!(users$ | async); else usersLoaded">
        <app-spinner [size]="30" [color]="'rgb(68, 77, 242)'"></app-spinner>
      </div>

      <ng-template #usersLoaded>
        @for (user of users$ | async; track user.uid) {
        <div class="dm-item" [routerLink]="'direct-message'">
          <!-- <a routerLink="direct-message"> -->
          <img [src]="user.avatarPath" alt="Avatar" class="avatar" />
          <span (click)="selectUser(user.name)">{{ user.name }}</span>

          <!-- </a> -->

          <span class="online-dot"
            [ngStyle]="{ 'background-color': user.online ? 'rgba(146, 200, 62, 1)' : 'grey' }"></span>
        </div>
        }
      </ng-template>
    </div>
    }
  </div>