@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins";

@use "../../../../styles/variables" as *;

.main-content {
  padding-left: 1rem;
}

.sidenav {
  width: 400px;
  height: calc(100vh - 140px);
  background-color: #fff;
  padding: 32px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

/* HEADER */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-and-heading {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  h1 {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }

  .edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;

    .edit-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url("../../../../assets/images/sidenav-img/edit_square.svg");
      background-size: cover;
      transition: background-image 0.125s ease;
    }

    &:hover .edit-icon {
      background-image: url("../../../../assets/icons/edit_square_hover.svg");
    }

    &:hover {
      background-color: rgba(236, 238, 254, 1);
    }
  }
}

app-search-bar {
  display: none;
}

/* LIST WRAPPER */
.lists {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.section.open {
  flex: 1 1 0;
}

.section-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  width: 100%;
  padding-left: 23px;

  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      filter: invert(28%) sepia(94%) saturate(533%) hue-rotate(203deg) brightness(94%) contrast(92%);
    }

    img {
      width: 10px;
      height: 10px;
      transition: transform 0.125s ease-in-out;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 24px;
        height: 24px;
      }

      span {
        font-weight: 700;
        font-size: 20px;
        color: black;
      }
    }
  }

  .plus-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    color: #1d1c1d;
    padding: 0;
    margin: 0;

    &:hover {
      filter: invert(28%) sepia(94%) saturate(533%) hue-rotate(203deg) brightness(94%) contrast(92%);
    }
  }
}

.rotate-img {
  transform: rotate(-90deg);
  transition: transform 0.125s ease-in-out;
}

/* SECTION BODY */
.section-body {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 37px;
}

.list-scroll {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding-right: 6px;
  max-width: 300px;

  > :first-child {
    margin-top: 0 !important;
  }
}

/* ADD ROW BUTTON */
.add-row {
  font-weight: 400;
  font-size: 18px;
  color: #1d1c1d;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 14px;
  background: none;
  border: none;

  img {
    width: 24px;
  }

  &:hover {
    filter: invert(28%) sepia(94%) saturate(533%) hue-rotate(203deg) brightness(94%) contrast(92%);
  }
}

/* ITEMS */
.channel-item,
.dm-item {
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 4px 20px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: 0.125s ease;
  gap: 17px;

  &.selected {
    color: $input-field-focus-color;
    background-color: $secondary-color;
    font-weight: 700;
  }

  &:hover {
    background-color: $secondary-color;
    color: $input-field-focus-color;
    font-weight: 700;
  }
}

.dm-item {
  font-size: 1.1rem;
  border-radius: 35px;
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .online-dot {
    position: relative;
    left: -15px;
    bottom: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

/* UTILS */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce-x {
  animation: bounceX 250ms ease-out;
}

/* RESPONSIVE */
@media (min-width: 1399px) {
  .sidenav {
    width: 100%;
    // height: 100vh;
    padding: 32px 30px;
  }
}

@media (max-width: 979px) {
  app-search-bar {
    display: flex;
    border-radius: 36px;
  }

  .sidenav {
    border-radius: 0;
    height: calc(100vh - 80px);
    padding: 20px;
  }
}
