@use "../../../styles/variables" as *;
@use "../../../styles/mixins";

body {
  overflow: auto !important;
}

.input-field-comp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  flex-direction: column;
  position: relative;

  .signup-link-box {
    margin-top: 12px;
    display: none;
    position: relative;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #333;

    .signup-text {
      margin: 0 0 0.5rem 0;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: right;
    }

    .link-container {
      color: $primary-color;
      text-decoration: none;
      font-weight: 700;
      transition: color 0.3s;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-left: 15px;
      border-radius: 25px;
      border: 1px solid transparent;
      cursor: pointer;
      transition: 125ms ease-in-out;
      border: 1px solid $primary-color;
      color: $button;

      .signup-link {
        color: $button;
        text-decoration: none;
        font-weight: 700;
        transition: color 0.125s;
        font-style: Regular;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
      }
    }
  }

  .privacy-policy-legal-notice-container {
    display: flex;
    gap: 16px;
    padding: 14px 34px;

    span {
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0%;
      color: $primary-color;
      border: 1px solid transparent;
      cursor: pointer;
      transition: 125ms ease-in-out;
      padding: 6px 10px;
      border-radius: 25px;

      &:hover {
        color: $primary-button-color;
        border: 1px solid $primary-color;
      }
    }
  }

  @include mixins.respond-between(320px, 670px) {
    .signup-text {
      font-size: 16px !important;
    }

    .signup-link-box {
      margin-top: 6px;
      padding: 0.7rem;
    }

    .privacy-policy-legal-notice-container {
      padding: 4px 34px;

      span {
        font-size: 14px;
      }
    }

    .link-container {
      height: 39px !important;
    }

    .signup-link {
      font-size: 16px !important;
    }
  }
}

.login-card {
  background: #fff;
  border-radius: 20px;
  padding: 3rem 2rem;
  width: 100%;
  max-width: 606px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #3d5afe;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 0.9rem;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 500px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    .forgot-password {
      text-align: right;
      font-size: 1rem;
      color: #3d5afe;
      text-decoration: none;
      margin-top: -0.5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .divider {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      width: 100%;
      margin: 1rem 0;

      span {
        font-size: 0.9rem;
        font-weight: 500;
        white-space: nowrap;
        color: #000;
      }

      hr {
        flex: 1;
        border: none;
        border-top: 1px solid black;
        height: 1px;
        background-color: black;
      }
    }

    .google-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      font-weight: 500;
      background-color: rgb(236, 238, 254);
      border: 1px solid #ddd;
      border-radius: 40px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      width: 100%;
      max-width: 500px;
      height: 60px;

      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      gap: 0.75rem;
      margin-top: 0.5rem;

      button {
        flex: 1;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        width: 124px;
        height: 44px;
      }

      .primary-btn {
        background-color: #3d5afe;
        color: white;
        border: none;

        &:hover {
          background-color: #2947ff;
        }
      }

      .secondary-btn {
        background-color: white;
        color: #3d5afe;
        border: 2px solid #3d5afe;

        &:hover {
          background-color: #eef0ff;
        }
      }
    }
  }

  @include mixins.respond-between(320px, 670px) {
    padding: 0.7rem 0.8rem;
    width: 95%;

    form {
      gap: 1rem;
    }

    .forgot-password {
      font-size: 14px !important;
    }

    .title {
      font-size: 1.5rem !important;
    }

    .subtitle {
      margin-bottom: 1rem;
    }

    .divider {
      margin: 0px !important;
    }

    .google-button {
      height: 39px !important;
    }

    .primary-btn {
      height: 39px !important;
    }

    .secondary-btn {
      height: 39px !important;
    }
  }

  @include mixins.iphone-four(320px, 480px) {
    .title {
      font-size: 1.125rem !important;
      margin-bottom: 0.6rem;
    }

    .subtitle {
      margin-bottom: 0.8rem;
    }

    form {
      gap: 0.8rem;
    }
  }

  // @include mixins.respond-between(320px, 580px) {
  //   padding: 0.7rem 0.8rem;
  //   width: 95%;
  // }
}

.login-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

.intro-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  pointer-events: none;
}

.login-section {
  position: relative;
}

.backgorund-animation {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #797ef3,
    #6d72f3,
    #6066f3,
    #535af3,
    #444df2
  );
  animation: fadeOut 1.1s linear forwards 1.8s;

  @include mixins.respond-between(320px, 892px) {
    width: 100%;
    min-height: 100vh;
  }
}

.intro-animation {
  @include mixins.flex-setup();
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  animation: fadeOut 2s ease-in-out forwards;
  animation-delay: 2s;
  position: absolute;
}

.intro-overlay {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  max-width: 1920px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  overflow: hidden;
  animation: fadeOut 1.8s linear forwards 1.8s;

  @include mixins.respond-between(320px, 660px) {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
  }
}

.wrapper-animation {
  width: 615px;
  height: 200px;
  display: flex;
  align-items: center;
  object-fit: cover;
  animation: moveShrinkFade 0.7s ease-in-out forwards;
  z-index: 100;
  animation-delay: 1.8s;
  overflow: hidden;

  @include mixins.respond-between(320px, 660px) {
    width: 300px;
  }

  @include mixins.respond-between(320px, 440px) {
    animation: moveShrinkFadeMobile 0.7s ease-in-out forwards 2s;
    width: 300px;
  }
}

.logo-container {
  position: absolute;
  left: 50%;
  animation: moveLeft 0.7s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  z-index: 1;

  @include mixins.respond-between(624px, 892px) {
    img {
      width: 160px;
      height: 160px;
    }
  }

  @include mixins.respond-between(440px, 660px) {
    left: 90%;
    img {
      width: 90px;
      height: 90px;
    }
  }

  @include mixins.respond-between(320px, 440px) {
    left: 94%;

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.dabubble-text {
  width: 600px;
  height: 100px;
  overflow: hidden;
  position: relative;
  right: 50%;
  left: 13%;

  h1 {
    font-size: 80px;
    color: white;
    position: absolute;
    white-space: nowrap;
    left: -100%;
    animation: slideIn 1.2s forwards;
  }

  @include mixins.respond-between(624px, 892px) {
    h1 {
      font-size: 60px;
    }
  }

  @include mixins.respond-between(440px, 660px) {
    left: 15%;
    width: 300px;

    h1 {
      font-size: 30px;
    }
  }

  @include mixins.respond-between(320px, 440px) {
    left: 0%;
    display: flex;
    align-items: center;

    h1 {
      font-size: 36px;
    }
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-270px);
    }
  }

  @keyframes slideIn {
    0% {
      left: -100%;
      opacity: 0;
    }

    100% {
      left: 25%;
      opacity: 1;
    }
  }

  @keyframes moveShrinkFade {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    10% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    100% {
      transform: translate(-50%, -50%) scale(0.4);
      opacity: 0.2;
      position: absolute;
      top: 55px;
      left: 120px;
    }
  }

  @keyframes moveShrinkFadeMobile {
    0% {
      transform: translate(-0%, -0%) scale(1);
      opacity: 1;
      position: absolute;
      top: 40%;
    }

    10% {
      transform: translate(-0%, -0%) scale(1);
      opacity: 1;
      position: absolute;
      top: 40%;
    }

    100% {
      opacity: 0.2;
      position: absolute;
      top: 1%;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    to {
      display: none;
      opacity: 0;
    }
  }

  @media (max-width: 590px) {
    .section-wrapper {
      overflow: unset;
    }

    app-input-field {
      width: 100%;
    }

    .login-card {
      width: 97%;

      form {
        gap: 0.85rem;
      }
    }

    .login-card-wrapper {
      position: relative;
      top: unset;
    }

    .login-container {
      min-height: unset;
    }
  }

  @media (max-width: 590px) {
    .login-card {
      padding: 1.5rem 1rem;
    }
  }
}

@media (max-width: 660px) {
  .login-container .login-card-wrapper .signup-link-box {
    display: block !important;
  }
}
