@use "../../../styles/variables" as *;
@import "./../../../styles/mixins";

.d-none {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  border-radius: 36px;
  transform-origin: left;
  animation: curtainSlideIn 0.18s ease-out forwards;
}

.headline {
  height: 110px;
  border-bottom: 1px solid rgb(242, 242, 242);
  box-shadow: 0px 2px 10px rgb(224, 224, 224);
  padding: 2rem;
}

.main-avatar {
  margin: 0 2rem 0 0;
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.125s ease;
  border-radius: 30px;
  padding: 4px 10px 4px 6px;
  width: fit-content;
  cursor: pointer;

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

.secondary-avatar {
  margin: 0 2rem 0 2rem;
  gap: 10px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-bottom: 16px;

  h4 {
    color: rgb(104, 104, 104);
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

    span {
      color: $input-field-focus-color;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }

  h3 {
    cursor: pointer;

    &:hover {
      color: $input-field-focus-color;
      font-weight: 700;
    }
  }

  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
}

.message-field-wrapper {
  width: 100%;
  // padding: 0rem 2rem 1rem 2rem;
  bottom: 10px;
}

.message {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

// Profile card styling
.profile-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2); // semi-transparent dark background
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  // Override styles only inside this context
  ::ng-deep app-profile-card .profile-card {
    margin: 0;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    animation: fadeIn 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  }

  ::ng-deep .goToDm-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 164px;
    height: 49px;
    border-radius: 50px;
    gap: 10px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    background-color: $button;
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    border: none;
    outline: none;

    &:hover {
      background-color: $primary-color;
    }
  }

  ::ng-deep .button-container {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}