<div class="people-dialog">
  <div class="dialog-header">
    <h2>Leute hinzufügen</h2>
    <button class="close-btn" (click)="cancelDialog()">&times;</button>
  </div>

  <label class="radio-option">
    <input type="radio" [(ngModel)]="addAllMembers" [value]="true" />
    Alle Mitglieder von <span class="highlight">{{ channelName }}</span> hinzufügen
  </label>

  <label class="radio-option">
    <input type="radio" [(ngModel)]="addAllMembers" [value]="false" />
    Bestimmte Leute hinzufügen
  </label>

  @if (!addAllMembers) {
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" placeholder="Name eingeben" />
  </div>

  <ul class="user-list">
    @for (user of filteredUsers; track user.id) {
      <li>
        <label>
          <input type="checkbox" [value]="user.id" (change)="onUserSelectionChange(user.id, $event)" />
          {{ user.name }}
        </label>
      </li>
    }
  </ul>
}


  <div class="btn-wrapper">
    <button class="submit-btn" (click)="finish()">Erstellen</button>
  </div>
</div>

