<div class="people-dialog">
  <div class="dialog-header">
    <h2>Leute hinzufügen</h2>
    <button class="close-btn" (click)="cancelDialog()">&times;</button>
  </div>

  <label class="radio-option">
    <input type="radio" [(ngModel)]="addAllMembers" [value]="true" />
    Alle Mitglieder von <span class="highlight">{{ channelName }}</span> hinzufügen
  </label>

  <label class="radio-option">
    <input type="radio" [(ngModel)]="addAllMembers" [value]="false" />
    Bestimmte Leute hinzufügen
  </label>

  @if (!addAllMembers) {
    <div class="user-selection">
      <div class="token-input-wrapper" (click)="inputField.focus()">
        @for (user of selectedUserObjects; track user.id) {
          <div class="user-token">
            <img [src]="user.avatarPath" class="avatar" />
            <span>{{ user.name }}</span>
            <button type="button" class="remove-btn" (click)="removeUser(user.id)">×</button>
          </div>
        }
        <input #inputField type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" [placeholder]="selectedUserObjects.length === 0 ? 'Name eingeben' : ''" />
      </div>

      @if (searchResults.length > 0) {
        <ul class="dropdown-list">
          @for (user of searchResults; track user.id) {
            <li (click)="selectUser(user)">
              <img [src]="user.avatarPath" class="avatar" />
              <span>{{ user.name }}</span>
            </li>
          }
        </ul>
      }
    </div>
  }

  <div class="btn-wrapper">
    <button class="submit-btn" (click)="finish()">Erstellen</button>
  </div>
</div>
