<app-header></app-header>
<div class="impressum-content">
  <div class="dialog-container">
    <button class="back-button" [routerLink]="['/login']">
      <div class="back-button-img" role="img" aria-label="Zurück"></div>
    </button>

    <h1>Impressum</h1>
    <p>Shargeel Muhammad<br />Muzammal Anwar<br />Aldin Dobric<br />
    </p>

    <br>

    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
    <p>
      Shargeel Muhammad<br />
      Musterstraße 12<br />
      12345 Musterstadt
    </p>

    <h2>Contact:</h2>
    <p>
      Telefon: +49 123 4567890<br />
      E-Mail: <a href="mailto:support&#64;dabubble.app">support&#64;dabubble.app</a>
    </p>
  </div>
</div>