<app-header></app-header>
<div class="impressum">
  <h1>Impressum</h1>

  <p><strong>Angaben gemäß § 5 TMG:</strong></p>
  <p>
    DABubble – Projektteam<br />
    Max Mustermann<br />
    Musterstraße 12<br />
    12345 Musterstadt<br />
    Deutschland
  </p>

  <p><strong>Vertreten durch:</strong></p>
  <p>Shargeel Muhammad<br />
  <p>Muzammal Anwar<br />
  <p>Aldin Dobric<br />

  <p><strong>Kontakt:</strong></p>
  <p>
    Telefon: +49 123 4567890<br />
    E-Mail: <a href="mailto:support&#64;dabubble.app">support&#64;dabubble.app</a>
  </p>

  <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong></p>
  <p>
    Shargeel Muhammad<br />
    Musterstraße 12<br />
    12345 Musterstadt
  </p>

  <h2>Haftungsausschluss</h2>

  <p><strong>Haftung für Inhalte</strong></p>
  <p>
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
    allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
    nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder
    nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
  </p>

  <p><strong>Haftung für Links</strong></p>
  <p>
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss
    haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte
    der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
  </p>

  <h2>Urheberrecht</h2>
  <p>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
    deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
    Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung
    des jeweiligen Autors bzw. Erstellers.
  </p>
</div>

