<div class="input-wrapper">
  <div class="custom-input" [class.invalid]="errorMsg">
    <img *ngIf="src" [src]="src" alt="icon" />
    <input [type]="type" [placeholder]="placeholder" [value]="value" [disabled]="isDisabled"
      (input)="onChange($any($event.target).value)" (blur)="onTouched()" [attr.name]="name"
      [attr.required]="required || null" [attr.minlength]="minlength" [attr.maxlength]="maxlength"
      [attr.autocomplete]="autocomplete" [(ngModel)]="ngModel" (ngModelChange)="ngModelChange.emit($event)"
      (input)="input.emit($event)" (focus)="focus.emit($event)" (blur)="blur.emit($event)" />
  </div>
  <div class="validation-message">
    <span *ngIf="errorMsg">{{ errorMsg }}</span>
  </div>
</div>