<div class="thread" (click)="close()" [ngClass]="{'d-none': isClose}">
    <div class="headline">
        <div class="headline-content">
              <h3>Profile</h3>
              <h4># thread-name</h4>
        </div>
        <button class="close"></button>
    </div>
    <div class="main-content">
        <div class="thread-message">
            <div class="avatar"><img src="./../../../assets/images/profile-images/head-1.png" alt=""></div>
            <div class="user-name">aldin</div>
            <div class="time">14:34 Uhr</div>
            <div class="message">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ab unde corrupti modi fugit adipisci </p>
            </div>
            
            <div class="emoji-container">
                <div class="emoji">😊</div>
                <div class="count">2</div>
            </div>
            <div class="add-reaction">
                <button ></button>
            </div>

        </div>

        <div class="answer">
            <div class="number-of-answers">
                <span>2 Antworten</span>
                <div class="line"></div>
            </div>
          
        </div>

        <ng-content></ng-content>
    </div>
