@use '../../../styles/variables' as *;

.add-channel-dialog {
  background-color: white;
  padding: 2rem;
  width: 100%;
  width: 872px;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 40px;
  gap: 20px;

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
    }

    .close-btn {
      background-color: white;
      width: 35px;
      height: 35px;
      border: none;
      background-image: url("../../../assets/icons/close.png");
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;

      &:hover {
        background-image: url("../../../assets/icons/close-hover.png");
      }
    }
  }

  .description {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    span {
      font-weight: 700;
      font-style: Bold;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  form {
    margin-top: 2rem;

    label {
      display: block;
      margin: 1rem 0 0.5rem;
      font-weight: 600;
    }

    .optional {
      font-weight: normal;
      color: gray;
      font-size: 0.9rem;
    }

    .input-wrapper {
      position: relative;

      .hashtag {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        color: gray;
      }

      input {
        width: 100%;
        padding: 0.8rem 1rem 0.8rem 2.5rem;
        border: 1px solid #ccc;
        border-radius: 2rem;
        font-family: "Nunito", sans-serif;
      }
    }

    input[type="text"] {
      width: 100%;
      padding: 0.8rem 1rem;
      border: 1px solid #ccc;
      border-radius: 2rem;
      font-family: "Nunito", sans-serif;
    }

    .submit-wrapper {
      text-align: right;

      button {
        border: none;
        background-color: $button;
        color: white;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        cursor: pointer;
        width: 125px;
        height: 49px;
        border-radius: 25px;
        gap: 10px;
        opacity: 1;
        padding-top: 12px;
        padding-right: 25px;
        padding-bottom: 12px;
        padding-left: 25px;


        &:hover {
          background-color: #3a52d1;
        }
      }
    }
  }
}

.close {}

app-input-field {
  ::ng-deep .input-wrapper {
    max-width: unset;

    ::ng-deep .custom-input {
      width: 100% !important;
      background-color: rgb(255, 255, 255) !important;
      border: 1px solid $input-border-color !important;

      input {
        ::placeholder {
          color: rgba(104, 104, 104, 1) !important;
          font-weight: 400 !important;
          font-style: Regular !important;
          font-size: 18px !important;
          line-height: 100% !important;
          letter-spacing: 0% !important;
        }
      }
    }
  }
}