<div class="content-wrapper">
  <app-header [currentView]="currentView" (goBackToSidenav)="handleGoBack()"></app-header>
  <section>
    <div class="dashboard-wrapper">
      <!-- For overlay (absolute) -->
      <div class="sidenav-overlay" *ngIf="showSidenav && isMediumScreen" (click)="toggleSidenav()">
        <app-sidenav class="sidenav sidenav-absolute" [ngClass]="sidenavAnimationClass"
          (click)="$event.stopPropagation()" (channelSelected)="onChannelSelected($event)"
          (userSelected)="onUserSelected($event)" (openAddChannelDialog)="onOpenAddChannelDialog()">
        </app-sidenav>
      </div>

      <!-- For large screens -->
      @if (!isMediumScreen && showSidenav) {
      <app-sidenav class="sidenav" (channelSelected)="onChannelSelected($event)" (userSelected)="onUserSelected($event)"
        [ngClass]="{'active': currentView === 'sidenav', sidenavAnimationClass}"
        (openAddChannelDialog)="onOpenAddChannelDialog()" (onAddChannelSelected)="onAddChannelSelected($event)">
      </app-sidenav>
      }

      <!-- Main content container -->
      <div class="main-container" [class.expanded]="!showSidenav" [ngClass]="{'active': currentView === 'main'}">

        <!-- Toggle Button  -->
        <div class="toggle-btn-wrapper">
          <button *ngIf="screenWidth > 580" class="sidenav-toggle-btn" (click)="toggleSidenav()"
            (mouseenter)="hovered = true" (mouseleave)="hovered = false">
            <div class="btn-content" [class.hover-blue]="hovered">
              @if (showSidenav) {
              <div class="icon-box">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16"
                  fill="currentColor">
                  <path d="M6 4l4 4-4 4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
              <span class="label">Workspace-Menü schließen</span>
              } @else {
              <div class="icon-box">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16"
                  fill="currentColor">
                  <path d="M10 12L6 8l4-4" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
              <span class="label">Workspace-Menü öffnen</span>
              }
            </div>
          </button>
        </div>

        <router-outlet></router-outlet>

        <div *ngIf="showAddChannelDialog" class="overlayAddChannelDialog" (click)="closeAddChannelDialog()">
          <div class="dialog-container" (click)="$event.stopPropagation()">
            <app-add-channel (close)="closeAddChannelDialog()"
              (openAddPeopleDialog)="openAddPeopleDialogOnChannelCreation()" (complete)="handleChannelCreation($event)"
              (proceedToPeople)="handleProceedToPeopleOnChannelCreation($event)">
            </app-add-channel>
          </div>
        </div>

        <div *ngIf="showPeopleDialogOnChannelCreation" class="overlay" (click)="closePeopleDialogOnChannelCreation()">
          <div class="dialog-container-fullscreen" (click)="$event.stopPropagation()">
            <app-add-people [channelId]="selectedChannelIdForUserAdd"
              [channelName]="createdChannelName || selectedChannelTitleForUserAdd" [mode]="addUserMode"
              (cancel)="addUserMode === 'add-to-channel' ? handleUserAddCancel() : closePeopleDialog()"
              (confirm)="addUserMode === 'add-to-channel' ? handleUserAddConfirm($event) : handlePeopleConfirmed($event)">
            </app-add-people>
          </div>
        </div>

        <app-dashboard-intro *ngIf="isIntroSectionVisible"></app-dashboard-intro>
      </div>
      @if (showThread) {
      <app-thread class="thread-container" [channelId]="selectedChannelId" [messageId]="selectedMessageId"
        (closeThread)="onCloseThread()" [ngClass]="{'active': currentView === 'thread'}">
      </app-thread>
      }
    </div>
  </section>
</div>

<div *ngIf="showProfileCard$ | async" class="profile-card-overlay" (click)="closeProfileCard()">
  <app-profile-card *ngIf="(selectedUser$ | async) as user" [name]="user.name" [email]="user.email || ''"
    [src]="user.avatarPath || ''" [active]="user.online" [isInsertedInHeader]="false" (click)="$event.stopPropagation()"
    (closeCard)="closeProfileCard()">
    <div class="button-container">
      <button [routerLink]="user.direktMessageLink" (click)="closeProfileCard()" class="goToDm-button">
        <img src="./../../assets/icons/mode_comment.svg" alt="">
        Nachricht
      </button>
    </div>
  </app-profile-card>
</div>

<button [routerLink]="'/dashboard/new-message'" class="new-message-button" (click)="isHoveringNewMessageButton = false"
  *ngIf="screenWidth <= 979 && currentView === 'sidenav'" (mouseenter)="isHoveringNewMessageButton = true"
  (mouseleave)="isHoveringNewMessageButton = false" title="Write new message">
  <img [src]="isHoveringNewMessageButton
      ? './../../assets/icons/new-message-button-hover.svg'
      : './../../assets/icons/new-message-button.svg'" alt="New Message" />
</button>